@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var key in ViewData.ModelState.Keys)
        {
            foreach (var error in ViewData.ModelState[key].Errors)
            {
                <div>@key: @error.ErrorMessage</div>
            }
        }
    </div>
} 